---
title: News

# true if the page is included in the menu
listed: true

# true if the page is published
published: true

# true if the page can be used as a layout for new pages created by the editors
# is_layout: true

# position among sibling pages
# position: 1

# sets a redirection to the given url (301)
# redirect_url: "<url to a page or to a remote url>"

# other unique identifier of this page. To be used with the path_to liquid tag.
# handle: my-page-handle

# content type that this page is templatizing
# content_type: "<slug of one of the content types>"


# editable_elements:
#   'some_block/some_slug': "<text>"
#   'some_block/some_slug': "<relative path to the file under the public/samples folder>"
---
{% extends 'layouts/simple' %}

{% block content/main, short_name: true %}

{% block page_title %}
  <!-- Page Title -->
  <section class="breadcrumb-wrap">
    <div class="overlay"></div>
    <div class="container">
      <div class="row">
        <div class="col-sm-12">
          <h1>News</h1>
        </div>
      </div>
    </div>
  </section>
{% endblock %}

{% editable_model news %}
  <section class="page-wrap blog-post clearfix">
    <div class="container">
      <div class="row">
        <main class="main-content toleft">
          <div class="content popup-gallery portfolio" style="padding-top: 50px;">
            {% for news in contents.news %}
              <article class="post clearfix item {{news.category.code}}">
  							<div class="media">
  								<p class="image">
  									<img src="{{ news.image.url | default: 'http://loremflickr.com/370/300' | resize: '370x300#' }}" alt="{{ news.title }}">
  								</p>
  							</div><!-- /.media -->
  							<h2 class="title-post">
  								<a href="/news/{{ news._slug }}">{{ news.title }}</a>
  							</h2><!-- /.title-post -->
  							<div class="meta-post">
  								<span class="date">{{ news.date | localized_date: '%B %d, %Y ' }}</span>
  								<span class="tags"><a href="#">Finance,</a><a href="#">Leasing</a></span>
  							</div><!-- /.meta-post -->
  							<div class="entry-post">
  								<p>{{ news.body }}</p>
  							</div><!-- /.entry-post -->
  							<div class="readmore">
  								<p><a href="/news/{{ news._slug }}">Continue Reading</a></p>
  							</div>
  						</article>
            {% endfor %}
          </div>
        </main>

        <aside class="sidebar">
					<div class="widget widget-categories">
						<h3 class="widget-title">Categories</h3>
						<ul class="filter">
              {% for nc in contents.news_category %}
                <li style="display: block;">
                  <a  data-filter=".{{nc.code}}" href="#">{{nc.title}} </a>
                </li>
              {% endfor %}
						</ul>
					</div>
					<div class="widget widget-recent-posts">
						<h3 class="widget-title">Recent Posts</h3>
            {% paginate contents.news by 4 %}
              {% for news_ in paginate.collection %}
    						<article class="clearfix">
    							<div class="wrapper">
    								<div class="media">
    									<a href="/news/{{ news_._slug }}">
    									<img src="{{ news_.image.url | default: 'http://loremflickr.com/100/80' | resize: '100x80#' }}" alt="photo"></a>
    								</div>
    								<div class="content">
    									<a href="/news/{{ news_._slug }}">{{ news_.title }}</a>
    								</div>
    							</div>
    						</article>
              {% endfor %}
            {% endpaginate %}
					</div>
					<div class="widget widget-tag-cloud">
						<h3 class="widget-title">Featured Tags</h3>
						<div class="tagcloud">
              {% for tags_ in contents.tags %}
							 <a href="#" title="example">{{tags_.title}},</a>
              {% endfor %}
						</div>
					</div>
				</aside>

      </div>
    </div>
  </section>

{% endeditable_model %}

{% endblock %}
